*~
*.csv
*.o
*.ptx
examples/add-float
examples/thread-id
examples/add-vector
examples/enum
examples/add-vector1
examples/map-macro
examples/unique-vec
examples/vector-sum
benchmarks/add-vector
benchmarks/cholesky
benchmarks/cholesky-rustcl
benchmarks/mat-mult
benchmarks/opencl/add-vector
benchmarks/rust/add-vector
benchmarks/cholesky-opencl
benchmarks/cholesky-opencl.c
benchmarks/cholesky_cl.h
benchmarks/cholesky_cl.o
benchmarks/jacobi
benchmarks/jacobi-opencl
benchmarks/jacobi-rustcl
benchmarks/jacobi_cl.h
